extends ../layout.jade
block contenido
	h1 Panel de administración
	table(class="table")
		caption Productos Actuales
		thead
			tr
				th #
				th ci
				th apellidos
				th nombre
				th Imágenes
				th Acciones
		tbody
			each inge in ingenieros
				tr
					td= inge.id
					td= inge.ci
					td= inge.apellidos
					td= inge.name
					td
						a(href="#{inge.imageUrl}" class="btn") Ver Imagen
					td
						a(href="/menu/edit/#{inge.id}") Editar
						=" - "
						a(href="/menu/delete/#{inge.id}") Eliminar
						